html {
    background-image: url("https://us.123rf.com/450wm/shoshina/shoshina1303/shoshina130300047/18538757-abstract-beige-green-pattern-with-right-border-against-the-neutral-background-pattern-can-be-used-as.jpg?ver=6;"); }

header {
    color: #8ba;
    text-align: center;
}
   